body {
    z-index: 1;
    margin: 0px;
    padding: 0px;
    background-color: rgb(111, 246, 111);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#icon {
    width: 62px;
}

#links {
    padding-right: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 98, 7);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticias {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(94, 209, 94);
    padding: 10px;
    margin: 40px;
    border-radius: 40px;
    box-shadow: 8px 5px 5px 3px rgb(125, 136, 125);
}

.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 243, 72);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 2px 2px 1px rgb(125, 136, 125);
}

.img_noticia {
    width: 300px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
}

footer {
    background-color: rgb(15, 98, 7);
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.barra-stick{
    position: sticky;
    top: 0px;
    background-color: rgb(255, 221, 0);
    color: rgb(10, 98, 7);
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-bottom: 4px solid rgb(7, 98, 27);
}

#escalacao{
    text-align: center;
    align-items: center;
}

.jogador{
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
    border-radius: 10px;
    width: 112px;
    box-shadow: 3px 2px 2px 1px rgb(125, 136, 125);
}

#gif{
    position: fixed;
    width: 200;
    right: 0;
    bottom: 0;
}
